.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #aaa transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.swiper-slide {
  width: 100% !important;
}
